# Server settings
PORT=3000
NODE_ENV=development

# Logging
LOG_LEVEL=info

# MongoDB connection
MONGODB_USER=webdevbiv
MONGODB_PASSWORD=RKuLZ5W13WdOSB2K
MONGODB_URL=mongodb+srv://<USER>:<PASSWORD>@practice01.pssemde.mongodb.net/<DB>?retryWrites=true&w=majority&appName=<DB>
MONGODB_DB=practice01
