# Server settings
PORT=your_port_number
NODE_ENV=development | production

# Logging
LOG_LEVEL=info | debug | warn | error

# JWT secrets
ACCESS_SECRET=your_access_secret
REFRESH_SECRET=your_refresh_secret

# JWT expiration times
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=30d

# MongoDB connection
MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=mongodb+srv://<MONGODB_USER>:<MONGODB_PASSWORD>@practice01.pssemde.mongodb.net/<MONGODB_DB>?retryWrites=true&w=majority&appName=practice01
MONGODB_DB=your_database_name
